<%= form_with(model: instruction) do |form| %>
  <% if instruction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(instruction.errors.count, "error") %> prohibited this instruction from being saved:</h2>

      <ul>
        <% instruction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  </div>

  <div>
    <%= form.label :url_image_video, style: "display: block" %>
    <%= form.text_field :url_image_video %>
  </div>

  <div>
    <%= form.label :work_sector, style: "display: block" %>
    <%= form.text_field :work_sector %>
  </div>

  <div>
    <%= form.label :sector_number, style: "display: block" %>
    <%= form.number_field :sector_number %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
